@tailwind base;

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  font-size: 16px;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1rem;
}

p {
  margin: 1rem 0;
}

a {
  color: #2980b9;
}

@tailwind components;

#home {
  @apply h-screen bg-cover bg-gray-700;
  background-image: url('../public/bg-main.jpg');
  background-position: center;
}

@tailwind utilities;
